@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lobster|Oleo+Script|Playball');
@import url('https://fonts.googleapis.com/css?family=Lobster|Oleo+Script');
@import url('https://fonts.googleapis.com/css?family=Charmonman|Niramit');
 

body{
	color:#0e1428;
	background-color: #7b9e89;
	opacity: 1;
	font-family: Niramit, "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	line-height: 1.4em;
	text-align: center;
	margin: 0px auto;
	width: 960px;
}

h1{
	font-family: "Charmonman", "sans-serif";
	font-size: 50px;
	font-weight: bolder;
	text-transform: full-width;
	border: 2px solid #FFFFFF;
	width: 960px;
	padding: 20px;
	margin: 50px;
	margin: auto;
	margin-top: 100px;
	letter-spacing: .75em;
	
}

h2{
	letter-spacing: .5em;
	font-size: 24px;
	
}



a:link{
	color:#0e1428;
}

a:visited{
	color:#0e1428;
}

a:hover{
	color:#d95d39;
}

footer{
	margin: 0px auto;
	margin-bottom: 100px;
	margin-top: 100px;
	text-align: center;
}

.candy{
	margin: 100px;
}
/*Home Page*/

nav{
	word-spacing: 35px;
	margin: 0px auto;
	margin-top: 50px;
}

.home{
	display: inline;
	list-style: none;
}

.mainphoto{
	align: center;
	margin: 0px auto;
	margin: 50px;
}

.special{
	letter-spacing: .5em;
	font-size: 17px;
	margin: 25px;
}

/*About*/

ol{
	text-align: left;
}

.about{
	border: 2px solid #FFFFFF;
}


/*Experience*/

.resume{
	text-align: left;
	list-style: circle;
	margin-top: 100px;
	width: 960px;
}
.links{
	list-style: none;
	display: inline;
	text-align: center;
}

.exception{
	text-align: center;
}

h3{
	font-size: 22px;
}

h4{
	font-size: 18px;
}

/*Coursework*/

figure{
	width: 800px;
	margin: 0px auto;
	margin-top: 50px;
	border: 2px solid #FFFFFF;
	padding-top: 20px;
}

figurecaption{
	margin: 0px auto;
}



